Repository vndevteam/jvm-base-projects: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-kotlin-web-spring-boot-3-workflow, run-kotlin-web-spring-boot-3-auth-workflow, run-kotlin-webmvc-spring-boot-3-workflow

Add MDCLoggingFilterTest class
  kotlin-web-spring-boot-3/src/test/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/logging/MDCLoggingFilterTest.kt
Due: run-kotlin-web-spring-boot-3-workflow

Update pull_request_template.md
  .github/pull_request_template.md
  kotlin-web-spring-boot-3/src/test/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/logging/MDCLoggingFilterTest.kt
Due: run-kotlin-web-spring-boot-3-workflow

Handle exception
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/ErrorConstants.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/ExceptionsHandler.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/error/ErrorDetail.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/error/ErrorResponseDto.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/util/DateTimeUtils.kt
  kotlin-web-spring-boot-3/src/main/resources/application-develop.yml
  kotlin-web-spring-boot-3/src/main/resources/application-production.yml
  kotlin-web-spring-boot-3/src/main/resources/application-staging.yml
Due: run-kotlin-web-spring-boot-3-workflow

feat(java-web-spring-boot-3): add new module
  .github/workflows/build-and-test-java-web-spring-boot-3.yml
  java-web-spring-boot-3/.gitignore
  java-web-spring-boot-3/build.gradle
  java-web-spring-boot-3/gradle/wrapper/gradle-wrapper.jar
  java-web-spring-boot-3/gradle/wrapper/gradle-wrapper.properties
  java-web-spring-boot-3/gradlew
  java-web-spring-boot-3/gradlew.bat
  java-web-spring-boot-3/settings.gradle
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/JavaWebSpringBoot3Application.java
  java-web-spring-boot-3/src/main/resources/application.properties
  java-web-spring-boot-3/src/test/java/com/vndevteam/javawebspringboot3/JavaWebSpringBoot3ApplicationTests.java
Due: none

chore(kotlin-web-spring-boot-3): fix mdc logging
  java-web-spring-boot-3/src/main/resources/application.yml
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/config/Slf4jMDCFilterConfig.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/logging/MDCLoggingFilter.kt
  kotlin-web-spring-boot-3/src/main/resources/application-develop.yml
  kotlin-web-spring-boot-3/src/main/resources/application-production.yml
  kotlin-web-spring-boot-3/src/main/resources/application-staging.yml
  kotlin-web-spring-boot-3/src/main/resources/logback-spring.xml
Due: run-kotlin-web-spring-boot-3-workflow

chore: fix format
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/logging/MDCLoggingFilter.kt
Due: run-kotlin-web-spring-boot-3-workflow

chore(kotlin-web-spring-boot-3): fix mdc logging (#97)
  java-web-spring-boot-3/src/main/resources/application.yml
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/config/Slf4jMDCFilterConfig.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/logging/MDCLoggingFilter.kt
  kotlin-web-spring-boot-3/src/main/resources/application-develop.yml
  kotlin-web-spring-boot-3/src/main/resources/application-production.yml
  kotlin-web-spring-boot-3/src/main/resources/application-staging.yml
  kotlin-web-spring-boot-3/src/main/resources/logback-spring.xml
Due: run-kotlin-web-spring-boot-3-workflow

feat: add logic for java-web-spring-boot-3 and update kotlin-web-spring-boot-3
  java-web-spring-boot-3/build.gradle
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/application/demo/DemoReqDto.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/application/demo/DemoRestController.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/domain/enums/Message.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/LocaleConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/MessageConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/SecurityConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/Slf4jMDCFilterConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/ExceptionsHandler.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/error/ErrorCode.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/error/ErrorDetail.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/error/ErrorResponseDto.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/logging/CustomResponseBody.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/logging/MDCLoggingFilter.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/logging/RequestLoggingFilter.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/util/MsgUtils.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/util/DateTimeUtils.java
  java-web-spring-boot-3/src/main/resources/application-develop.yml
  java-web-spring-boot-3/src/main/resources/application-production.yml
  java-web-spring-boot-3/src/main/resources/application-staging.yml
  java-web-spring-boot-3/src/main/resources/application.yml
  java-web-spring-boot-3/src/main/resources/logback-spring.xml
  java-web-spring-boot-3/src/main/resources/message/messages.properties
  java-web-spring-boot-3/src/main/resources/message/messages_ja.properties
  kotlin-web-spring-boot-3/src/main/.DS_Store
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/config/LocaleConfig.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/ExceptionsHandler.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/error/ErrorCode.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/error/ErrorResponseDto.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/util/DateTimeUtils.kt
  kotlin-web-spring-boot-3/src/main/resources/application.yml
  kotlin-webmvc-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebmvcspringboot3/infrastructure/config/LocaleConfig.kt
  kotlin-webmvc-spring-boot-3/src/main/resources/application-develop.yml
  kotlin-webmvc-spring-boot-3/src/main/resources/application-production.yml
  kotlin-webmvc-spring-boot-3/src/main/resources/application-staging.yml
  kotlin-webmvc-spring-boot-3/src/main/resources/application.yml
Due: run-kotlin-web-spring-boot-3-workflow, run-kotlin-webmvc-spring-boot-3-workflow

chore: fix cmt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/ErrorConstants.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/ExceptionsHandler.kt
Due: run-kotlin-web-spring-boot-3-workflow

chore: fix ci
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/config/LocaleConfig.kt
  kotlin-webmvc-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebmvcspringboot3/infrastructure/config/LocaleConfig.kt
Due: run-kotlin-web-spring-boot-3-workflow, run-kotlin-webmvc-spring-boot-3-workflow

feat: add logic for java-web-spring-boot-3 and update kotlin-web-spring-boot-3 (#99)
  java-web-spring-boot-3/build.gradle
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/application/demo/DemoReqDto.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/application/demo/DemoRestController.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/domain/enums/Message.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/LocaleConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/MessageConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/SecurityConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/config/Slf4jMDCFilterConfig.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/ExceptionsHandler.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/error/ErrorCode.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/error/ErrorDetail.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/exception/error/ErrorResponseDto.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/logging/CustomResponseBody.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/logging/MDCLoggingFilter.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/logging/RequestLoggingFilter.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/infrastructure/util/MsgUtils.java
  java-web-spring-boot-3/src/main/java/com/vndevteam/javawebspringboot3/util/DateTimeUtils.java
  java-web-spring-boot-3/src/main/resources/application-develop.yml
  java-web-spring-boot-3/src/main/resources/application-production.yml
  java-web-spring-boot-3/src/main/resources/application-staging.yml
  java-web-spring-boot-3/src/main/resources/application.yml
  java-web-spring-boot-3/src/main/resources/logback-spring.xml
  java-web-spring-boot-3/src/main/resources/message/messages.properties
  java-web-spring-boot-3/src/main/resources/message/messages_ja.properties
  kotlin-web-spring-boot-3/src/main/.DS_Store
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/config/LocaleConfig.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/ExceptionsHandler.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/error/ErrorCode.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/infrastructure/exception/error/ErrorResponseDto.kt
  kotlin-web-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebspringboot3/util/DateTimeUtils.kt
  kotlin-web-spring-boot-3/src/main/resources/application.yml
  kotlin-webmvc-spring-boot-3/src/main/kotlin/com/vndevteam/kotlinwebmvcspringboot3/infrastructure/config/LocaleConfig.kt
  kotlin-webmvc-spring-boot-3/src/main/resources/application-develop.yml
  kotlin-webmvc-spring-boot-3/src/main/resources/application-production.yml
  kotlin-webmvc-spring-boot-3/src/main/resources/application-staging.yml
  kotlin-webmvc-spring-boot-3/src/main/resources/application.yml
Due: run-kotlin-web-spring-boot-3-workflow, run-kotlin-webmvc-spring-boot-3-workflow

Path conditions:
  run-kotlin-web-spring-boot-3-workflow: any of: kotlin-web-spring-boot-3/.*
  run-kotlin-web-spring-boot-3-auth-workflow: any of: kotlin-web-spring-boot-3-auth/.*
  run-kotlin-webmvc-spring-boot-3-workflow: any of: kotlin-webmvc-spring-boot-3/.*
